@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome,Ash here.</h1>
    <p>For my project work, <a href="https://idyllic-souffle-1735fb.netlify.app/">Click Here.</a>.</p>
</div>
